In [1]:
#importing
import pandas as pd
import numpy as np

In [2]:
# File to Load
purchase_data = "purchase_data.csv"

In [3]:
# Import the data into a Pandas DataFrame
data_df = pd.read_csv(purchase_data)
data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [11]:
demo = data_df.loc[:, ["Gender", "SN", "Age"]]
demo = demo.drop_duplicates()
demo.head()

  Gender             SN  Age
0   Male        Lisim78   20
1   Male    Lisovynya38   40
2   Male     Ithergue48   24
3   Male  Chamassasya86   24
4   Male      Iskosia90   23

In [12]:
data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [13]:
p_data_df = data_df.dropna(how='any')

In [14]:
p_data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [15]:
#Trying to get the total count of SN.
p_data_df["SN"].value_counts()
p_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [16]:
total_active_players = 576

In [17]:
print("------------------------------------------------")

print(f"Total Players: 576")

print("------------------------------------------------")

------------------------------------------------
Total Players: 576
------------------------------------------------

In [19]:
# #  Purchasing Analysis (Total)

# # Run basic calculations to obtain number of unique items, average price, etc.
# # Create a summary data frame to hold the results
# # Optional: give the displayed data cleaner formatting
# # Display the summary data frame

#NUMBER OF UNIQUE ITEMS
#clean up the Item Name that are invali
unique_data_df = len(p_data_df["Item ID"].unique())
unique_data_df

# unique_items_df
# unique_items_df.()

# unique_items = p_data_df["Item Name"].

183

In [20]:
# Finding the average Price
price_df = round(p_data_df["Price"].mean(), 2)
price_df

3.05

In [21]:
purchase_count = p_data_df["Purchase ID"].count()

purchase_count

780

In [22]:
total_revenue_count = p_data_df["Price"].sum()

total_revenue_count.sum()

2379.77

In [23]:
 # Create DataFrames
raw_data_items = {
    "Number of Unique Items": [unique_data_df],
    "Average Price": [price_df],
    "Number of Purchases": [purchase_count],
    "Total Revenue": [total_revenue_count]
}
items_pd = pd.DataFrame(raw_data_items, columns=[
                        "Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"])
items_pd

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

In [24]:
# Purchasing Analysis (Gender)

# The below each broken by gender
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Gender

In [25]:
#specific male count
male_df = p_data_df.loc[p_data_df["Gender"] == "Male"]

In [26]:
# male_df['SN'].value_counts()

In [27]:
male_df['SN'].count()
male_male_df = male_df["SN"].value_counts()
male_male_df.count()

484

In [28]:
#specific Female count
female_df = p_data_df.loc[p_data_df["Gender"] == "Female"]

In [29]:
# female_df['SN'].value_counts()

In [30]:
female_df['SN'].count()
female_female_df = female_df["SN"].value_counts()
female_female_df.count()

81

In [31]:
#specific Other / Non-Disclosed
other_df = p_data_df.loc[p_data_df["Gender"] == "Other / Non-Disclosed"]

In [32]:
other_df['SN'].count()
other_other_df = other_df["SN"].value_counts()
other_other_df.count()

11

In [33]:
# total_percent = len(male_male_df)
# total_percent_count_per_gender = data_df["Gender"].value_counts()
# total_percent_count = pd.DataFrame(round((total_percent_count_per_gender/total_percent)*100), )
# total_percent_count.head()
# total_percent_count_per_gender.head()


# # male_percent = pd.DataFrame(round(male_male_df/total_active_players)*100)
# # male_percent.head

In [34]:
total_percent = len(p_data_df)
total_percent_count_per_gender = p_data_df["Gender"].value_counts()
total_percent_count = pd.DataFrame(round((total_percent_count_per_gender/total_percent)*100), )
total_percent_count.head()

                       Gender
Male                     84.0
Female                   14.0
Other / Non-Disclosed     2.0

In [36]:
print("--------------------------------------------------------")
print(f"Total Males: {484}")
print(f"Total Male Percentage of Players: {84}%")
print(f"Total Females: {81}")
print(f"Total Female Percentage of Players:: {14}%")
print(f"Total Other / Non-Disclosed Players: {11}")
print(f"Total Other / Non-Disclosed Percentage of Players:: {2}%")
print("--------------------------------------------------------")

--------------------------------------------------------
Total Males: 484
Total Male Percentage of Players: 84%
Total Females: 81
Total Female Percentage of Players:: 14%
Total Other / Non-Disclosed Players: 11
Total Other / Non-Disclosed Percentage of Players:: 2%
--------------------------------------------------------

In [37]:
#  Purchasing Analysis (Gender)
 
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame

In [38]:
#find purchase count for males
male_purchase_count = male_df["Price"].count()
male_purchase_count

652

In [39]:
#find average purchase price for males
male_purchase_avg = round(male_df["Price"].mean(), 2)

male_purchase_avg

3.02

In [40]:
#total purchase values for males
male_total_purchase = male_df["Price"].sum()
male_total_purchase

1967.64

In [41]:
#total avg purchase per male
avg_male_purchase_per_person = male_total_purchase/484
avg_male_purchase_per_person

4.065371900826446

In [42]:
#find purchase count for males
female_purchase_count = female_df["Price"].count()
female_purchase_count

113

In [43]:
#find average purchase price for females
female_purchase_avg = round(female_df["Price"].mean(), 2)

female_purchase_avg

3.2

In [44]:
#find total purchase value for females
female_total_purchase = female_df["Price"].sum()
female_total_purchase

361.94

In [45]:
#total avg purchase per female
avg_female_purchase_per_person = female_total_purchase/81
avg_female_purchase_per_person

4.468395061728395

In [46]:
#find purchase count for Other / Non-Disclosed
other_purchase_count = other_df["Price"].count()
other_purchase_count

15

In [47]:
#find average purchase price for Other
other_purchase_avg = round(other_df["Price"].mean(), 2)

other_purchase_avg

3.35

In [48]:
#find total purchase value for Other
other_total_purchase = other_df["Price"].sum()
other_total_purchase

50.19

In [49]:
#total avg purchase per Other
avg_other_purchase_per_person = other_total_purchase/11
avg_other_purchase_per_person

4.5627272727272725

In [50]:
#pruchasing Analysis DF
raw_data_info = {
    "Gender": ["Male", "Female", "Total Other / Non-Disclosed"],
    "Purchase Count": [652, 113, 15],
    "Average Purchase Price": [3.02, 3.20, 3.35],
    "Total Purchase Value": [1967.64, 361.94, 50.19],
    "Avg Total Purchase per Person": [4.07, 4.47, 4.56],
}
info_pd_df = pd.DataFrame(raw_data_info, columns=["Gender", "Purchase Count", "Average Purchase Price",
                                               "Total Purchase Value", "Avg Total Purchase per Person"])
info_pd_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Male,652,3.02,1967.64,4.07
1,Female,113,3.20,361.94,4.47
2,Total Other / Non-Disclosed,15,3.35,50.19,4.56

In [52]:
# # Use Map to format all the columns
info_pd_df["Purchase Count"] = info_pd_df["Purchase Count"].map("${:.2f}".format)
info_pd_df["Average Purchase Price"] = info_pd_df["Average Purchase Price"].map("${:.2f}".format)
info_pd_df["Total Purchase Value"] = info_pd_df["Total Purchase Value"].map("${:.2f}".format)
info_pd_df["Avg Total Purchase per Person"] = info_pd_df["Avg Total Purchase per Person"].map("${:.2f}".format)
info_pd_df.head()

ValueError: Unknown format code 'f' for object of type 'str'

In [ ]:
#  Age Demographics

# Establish bins for ages
# Categorize the existing players using the age bins. Hint: use pd.cut()
# Calculate the numbers and percentages by age group
# Create a summary data frame to hold the results
# Optional: round the percentage column to two decimal points
# Display Age Demographics Table

In [ ]:
# # age_count_df = p_data_df["Age"].count()

# # age_count_df.count()

# age_countt_df = data_df["Age"].count()
# age_countt_df

In [ ]:
df_group = data_df.groupby("Age")

age_row_count = df_group["Age"].value_counts()

age_row_count

In [ ]:
percentage = (age_row_count/total_active_players)*100

percentage.head()

In [ ]:
raw_data = {
    "Age Range": ["younger than 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
    "Total Count": ["23", "28", "136", "365", "101", "73", "41", "13"],
    "Percentage of Players": ["4.0%", "4.9%", "23.6%", "63.4%", "17.5%", "12.7%", "7.1%", "2.3%"]}
df = pd.DataFrame(raw_data)
df


# group_names = ["10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
# bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 99999]


# trial_df = pd.DataFrame(trial_data)
# trial_df

In [ ]:
# data_df["Percantage of Players"] = pd.cut(data_df["Age"], bins, labels=group_names)

In [ ]:
# total_age_count = data_df["SN"].nunique()

In [ ]:
# data_df["Percentage of Players"] = pd.cut(data_df["Age"], bins, labels=age_groups)
# data_df

In [ ]:
# # then you take that value and divide the total
# # player count by that value and multiply by 100 to get the percentage

# 576/780*100

In [ ]:
# # # Create the bins in which Data will be held
# binny = [0, 59, 69, 79, 89, 100]
# bin_names = ["0-10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-100"]

# # # Create the names for the four bins
# # group_names = ["< 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [ ]:
# p_data_df["SN"] = pd.cut(p_data_df["Age"], bins, labels=group_names)
# p_data_df

In [ ]:
#  Purchasing Analysis (Age)
 
# Bin the purchase_data data frame by age
data_df["Age Range"] = pd.cut(data_df["Age"], bins, labels=group_names)
data_df.head()

# # Create a summary data frame to hold the results
# # Optional: give the displayed data cleaner formatting
# # Display the summary data frame

In [ ]:
# # Run basic calculations to obtain purchase count, avg. purchase price, avg.
# #purchase total per person etc. in the table below
# data_group = data_df.groupby("Purchase Data")

# row_count = data_group["Purchase Count"].count()
# row_count.head

# # # data_group[["Purchase Count", "Average Purchase Price", "Total Purchase Value", 
# #"Avg Total Purchase per Peron"]].mean()

# # data_group = data_df.groupby("Age Range")

# # row_count = data_group["Purchase Count"].count()
# # row_count.head

# # # data_group.mean()

# ted_df["View Group"] = pd.cut(ted_df["views"], bins, labels=group_names)
# ted_df.head()

In [ ]:
#  Top Spenders
 
# Run basic calculations to obtain the results in the table below
# Create a summary data frame to hold the results
# Sort the total purchase value column in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the summary data frame

max_views = data_df["Purchase ID"].max()
min_views = data_df["Purchase ID"].min()
max_views
min_views

In [ ]:
#  Most Popular Items
 
# Retrieve the Item ID, Item Name, and Item Price columns
# Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
# Create a summary data frame to hold the results
# Sort the purchase count column in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the summary data frame

In [ ]:
#  Most Profitable Items
 
# Sort the above table by total purchase value in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the data frame